@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #ffffff;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  padding: 30px 0;
  height: 92px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: #250C2B!important;
  max-height: 100%;
}

#header #logo {
  float: left;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

@media (max-width: 768px) {
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 40px;
  }
}

#header.header-fixed {
  background: rgba(52, 59, 64, 0.9);
  padding: 20px 0;
  height: 72px;
  transition: all 0.5s;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  display: table;
  width: 100%;
  /*height: 100vh;*/
  height: 580px;
  background: url(../images/bg1.png) top center fixed;
  background-size: cover;
}

#hero .hero-container {
  background: linear-gradient(270deg, #130516 0%, rgba(19, 5, 22, 0) 41.15%, rgba(19, 5, 22, 0) 66.15%, #130516 100%);
  display: table-cell;
  margin: 0;
  /*text-align: center;*/
  vertical-align: middle;
  padding-left: 20%;
  padding-right: 50%;

}

#hero h1 {
  margin: 20px 0;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #FBBF4D;
  padding-top: 30px;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #CCCCCC;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero .btn-get-started {
  font-family: 'Roboto', sans-serif;
  /*text-transform: uppercase;*/
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  /*margin: 10px;*/
  border: 2px solid #FBBF4D;
  background-color: #FBBF4D;
  color: #171717;
}

#hero .btn-get-started:hover {
  background: #CCCCCC;
  border: 2px solid #CCCCCC;
  text-decoration: none;
  color: #FBBF4D;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
  height: auto;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
  padding-top: 5px;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0;
}

@media (max-width: 992px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  display: inline-block;
  color: #FBBF4D;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /*text-transform: uppercase;*/
  font-size: 16px;
  outline: none;
}

.nav-menu a:hover{
  color: #ffffff;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu > li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #FBBF4D;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .menu-active > a:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-menu ul {
  margin: 4px 0 0 0;
  border: 1px solid #250C2B;
  background-color: #250C2B;
}

.nav-menu ul li {
  background: #250C2B;
}

.nav-menu ul li:first-child {
  /*border-top: 0;*/
}

.nav-menu ul li a {
  padding: 10px;
  color: #FBBF4D;
  transition: 0.3s;
  display: block;
  font-size: 13px;
  text-transform: none;
  background-color: #250C2B;
}

.nav-menu ul li a:hover {
  background: #FBBF4D;
  color: #250C2B;

}

.nav-menu ul ul {
  margin: 0;
}

/*                          */
.banner-left{

  border-color: #FBBF4D;
  border-width: 0;
  color: #FFFFFF;
  margin: 0 auto;
  /*padding: 10px 50px;*/
  /*text-transform: uppercase;*/
  width: 100%;
  position: relative;
}
.banner-left-content{
  /*position: relative;*/
  border: 2px solid #FBBF4D;
  border-radius: 15px;
  /*background: linear-gradient(88.26deg, #3B1843 19.1%, rgba(59, 24, 67, 0) 88.45%);*/
  width: 340px;
  /*height: 450px;*/
  z-index: -1;
  padding-bottom: 50px;
}
.banner-left-border{
  position: absolute;
  top: -15px;
  left: 0;
  border: 2px solid #FBBF4D!important;
  background-color: #FBBF4D!important;
  /*padding: 10px;*/
  height: 30px;
  width: 200px;
  border-radius: 15px 15px 0 0;
  z-index: 1;
}
.banner-left-header{
  padding: 30px 30px;
}
.banner-left-title{
  color: #FBBF4D;
  font-size: 22px;
  line-height: 24px;
}
.banner-left__dongia{
  font-size: 16px;
  line-height: 24px;
}
.banner-left__dong{
  font-size: 18px;
  line-height: 24px;
}
.banner-left-body h3{
  font-size: 16px;
  line-height: 24px;
  padding-left: 30px;
}
.banner__icon{
  font-size: 24px;
  color: red;
  line-height: 32px;
  padding-left: 30px;
}
.banner__span{
  font-size: 16px;
  color: #ffffff;
  line-height: 32px;
  padding-left: 30px;
}
.banner__monney{
  font-size: 18px;
  line-height: 24px;
}
.banner__span__left{
  text-align: start;
}
.banner__span__right{
  text-align: center;
}
.banner-banner{
  padding: 10px 30px;
  border: 1px solid #CCCCCC;
}
.banner-banner__header{
  padding: 30px 30px;
}
.banner-banner__span{
  text-align: end;
}
.banner-banner__span span{
  font-size: 16px;
  color: #FBBF4D;
  line-height: 24px;
}
.banner-banner__icon{
  color: #CCCCCC;
  font-size: 20px;
}
.banner-ttt{
  padding: 30px 30px;
  font-size: 16px;
  line-height: 24px;
}
.banner-monney-ttt{
  font-size: 18px;
  line-height: 24px;
  text-align: end;
  padding: 0 30px;
  color: #FBBF4D;
}
.banner-left-footer{
  padding: 30px 30px 0 30px;
}
.banner-left-footer button{
  background: linear-gradient(180deg, #FBBF4D 0%, #F78457 100%);
  border-color: #FBBF4D;
  width: 100%;
  padding: 5px 0;
  border-radius: 5px;
}
.banner-footer{
  padding: 20px 0;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
}
.banner-footer a{
  color: #CCCCCC;
  font-size: 16px;
  line-height: 24px;
}

.banner-footer a:hover{
  color: #FBBF4D;
  text-decoration: none;
}
.arena__titles{
  margin-top: 80px;
  font-size: 16px;
  color: #CCCCCC;
  font-weight: 400;
  line-height: 32px;
}
.arena__bdy{
  margin-top: -90px;
}




